@import "./home-screen.css";

#wrapper {
    display: none;
    background-color: rgba(0 0 0 / 60%);
    backdrop-filter: blur(4px);
    z-index: 1;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

#modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

#options-container {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
    padding: 0;
    background-color: #29292c;
    width: 100%;
}

#display-entry {
    display: flex;
    margin: 0 0 10px 0;
}

#display-text {
    color: white;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

/* align and center bullet in container */
#display-bullet {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20px;
    height: 20px;
    color: white;
    padding: 0;
    margin: 0;
    padding-right: 5px;
}

.bullet-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 10px;
    height: 20px;
    margin-left: 20px;
}

.bullet-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    font-size: 16px;
    /* top | right | bottom | left */
    padding: 10px 15px 10px 15px;
    /* bottom of each section (except last) is horizontal line */
    border: none;
    border-bottom: 1px solid var(--line-grey);
}

.bullet-btn:last-child {
    border: none;
}

.bullet-btn[state='off'] {
    background-color: inherit;
}

.bullet-btn[state='on'] {
    background-color: #0a84fe;
}

p,
button,
span {
    color: white;
}

:root {
    --line-grey: #7b8695;
    --highlight-blue: #0a84fe;
}
