@import "./home-screen.css";

@media only screen and (max-width: 500px) {

    div.nav-text {

        /* space between text in nav section and button icon */
        margin-right: 20px;
    }

    div.control-container {
        display: flex;
        justify-content: space-between;
        background-color: var(--section-background);
        padding-top: var(--section-pad);
        padding-bottom: var(--section-pad);
    }

    button.control-btn {
        background: none;
        color: var(--snow);
        border: none;
    }
    
    button.control-btn[priority="high"] {
        color: var(--red);
    }

    
    button.arrow-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10px;
        height: 20px;
        fill: var(--granite);
    }


    /* holds "Date" label and the actual date */
   
    #date-container {
        display: flex;
    }

    #date-title {
        /* gap between Date label and date button */
        margin-right: var(--date-gap);
    }

    #date-button {
        border: none;
        border-radius: var(--rounded-button);
        background-color: var(--button-blue);
        color: var(--snow);
        height: 24px;
        font-size: 14px;
        font-weight: 500;
        margin-top: 12px;
        padding-left: var(--button-text-pad);
        padding-right: var(--button-text-pad);
    }

    #tracker-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #journal-text {
        resize: none;
        outline: none;
        border: none;
        color: var(--stone);
        caret-color: var(--snow);
        background-color: var(--section-background);
        margin-left: auto;
        margin-right: auto;
        width: 98%;
        min-height: 50%;
        max-height: 100%;
    }


    section {
        /* bottom of each section (except last) is horizontal line */
        border-bottom: var(--line-thickness) solid var(--line-grey);

        /* space between sections */
        padding-top: var(--section-pad);
        padding-bottom: var(--section-pad);
    }

    section:last-child {
        border: none;
    }
}

/* h2 for log title (BIG) */

h2 {
    font-family: var(--font-sans);
    color: var(--snow);
    font-size: 28px;
    font-weight: 700;
}

/* h3 for section titles (e.g. Notes) */

h3 {
    font-family: var(--font-sans);
    color: var(--snow);
    font-size: 17px;
    font-weight: 400;
}

#wrapper {
    background: var(--section-background);
    border-top-left-radius: var(--rounded-rect);
    border-top-right-radius: var(--rounded-rect);

    /* add space between edges of wrapper and internal contents */
    
    /* top | right | bottom | left */
    padding: var(--wrap-top) var(--wrap-edge) var(--wrap-top) var(--wrap-edge);
    margin-left: var(--pad-screen-edge);
    margin-right: var(--pad-screen-edge);
}

:root {
    --rounded-rect: 15px;
    --rounded-button: 5px;
    --line-thickness: 1px;
    --button-text-pad: 10px;
    --date-gap: 20px;
    --max-mobile-width: 500px;
    --midnight: #020c1b;
    --full-background: #000;
    --section-background: #1c1c1e;
    --header-background: #262628;
    --header-height: 50px;
    --pad-screen-edge: 5px;
    --section-distance: 20px;
    --section-pad: 5px;
    --wrap-edge: 15px;
    --wrap-top: 20px;
    --distance-to-header: 30px;
    --stone: #a6a3ae;
    --granite: #807f86;
    --line-grey: #3d3c41;
    --snow: #fff;
    --red: #ff7070;
    --blue: #0a84fe;
    --button-blue: #53a1d9;
    --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    --font-sans: "Calibre", "SF Pro Text", "Inter", "San Francisco", -apple-system, system-ui, blinkmacsystemfont, sans-serif;
}