body {
    margin: 0 0 var(--footer-height) 0;
    font-family: var(--font-sans);
}

main {
    padding: 8px;
    margin: 0 !important;
    background-color: var(--page-background-color);
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--header-footer-background);
    padding: 1em 0;
    display: block !important;
}

main > ul {
    padding: 0;
    list-style-type: none;
}

header > nav > ul {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    list-style-type: none;
}

header > nav > ul > li:nth-of-type(2) {
    color: var(--main-text-color);
}

#log-list > li {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {

    /* Remove default css */
    appearance: none;

    /* New Checkbox Style */
    background-color: var(--page-background-color);
    font: inherit;
    width: 1.25em;
    height: 1.25em;
    border: 0.15em solid var(--checkbox-stroke);
    border-radius: 0.35em;
    display: none;
    place-content: center;
    float: left;
    margin: 0 4em var(--section-distance) 1em;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.75em;
    height: 0.75em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--page-background-color);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked {
    border-color: var(--checkbox-fill);
    background-color: var(--checkbox-fill);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

button {
    cursor: pointer;
}

header > nav > ul > li > button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    font-size: 1em;
    color: var(--header-button-color);
    width: 4em;
}

a {
    text-decoration: none;
    color: var(--header-button-color);
}

popup-modal {
    display: none;
}

p {
    color: var(--main-text-color);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: var(--header-footer-background);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer > button:nth-of-type(1),
footer > button:nth-of-type(2) {
    margin: 1em 0;
    border: none;
    border-radius: 15px;
    font-size: 1.25em;
    padding: 10px 20px;
}

#delete-all-btn {
    background-color: var(--delete-all-btn-color);
    color: var(--delete-selected-btn-text-color);
    display: none;
}

#delete-selected-btn {
    display: none;
    background-color: var(--delete-selected-btn-color);
}

footer > div {
    text-align: center;
}

#new-note-btn {
    width: 4em;
    height: 4em;
    background-color: var(--header-footer-background);
    border: none;
    position: absolute;
    right: 0;
    margin-right: 1em;
}

#log-count-display {
    color: var(--log-count-display-color);
}

:root {
    --footer-height: 80px;
    --log-count-display-color: #abb2b9;
    --delete-selected-btn-text-color: white;
    --delete-selected-btn-color: #b5b5b7;
    --delete-all-btn-color: rgb(229 79 79);
    --main-text-color: white;
    --page-background-color: black;
    --header-button-color: #0a84fe;
    --header-footer-background: #262628;
    --checkbox-fill: #69e36e;
    --checkbox-stroke: #94929c;
    --font-sans: "Calibre", "SF Pro Text", "Inter", "San Francisco", -apple-system, system-ui, blinkmacsystemfont, sans-serif;
}
