body {
    margin: 0;
}

main {
    padding: 8px;
    background-color: black;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #262628;
    padding: 1em 0;
}

main > ul {
    padding: 0;
    list-style-type: none;
}

header > nav > ul {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    list-style-type: none;
}

input[type="checkbox"] {
    display: none;
    float: left;
    margin: 0 4em 0 1em;
}

button {
    cursor: pointer;
}

header > nav > ul > li > button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    font-size: 1em;
    color: #0A84fe;
    width: 4em;
}

a {
    text-decoration: none;
    color: #0A84fe;
}

header > nav > ul > li:nth-of-type(2) {
    color: white;
}

popup-modal {
    display: none;
}

p {
    color: white;
}

footer {
    position: sticky;
    width: 100%;
    bottom: 0;
    background-color: #262628;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer > button:nth-of-type(1), 
footer > button:nth-of-type(2) {
    margin: 1em 0;
    border: none;
    display: none;
    border-radius: 15px;
    font-size: 1.25em;
    padding: 10px 20px;
}

#delete-all-btn {
    background-color: rgb(229 79 79);
    color: white;   
}

#delete-selected-btn {
    display: none;
    background-color: #b5b5b7;
}

footer > div {
    text-align: center;
}

#new-note-btn {
    width: 4em;
    height: 4em;
    background-color: #262628;
    border: none;
    position: absolute;
    right: 0;
}

#log-count-display {
    color: #abb2b9;
}
