@import "./inbox.css";

/* ====== HEADER ====== */

ul {
    justify-content: space-between;
}

#save-list-item {
    text-align: right;
}

#save-btn,
#cancel-btn {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    font-size: var(--home-edit-size);
    color: var(--header-button-color);
    text-decoration: none;
}

#cancel-btn {
    color: var(--stone);
}

#tracker-list-item h1 {
    font-size: var(--header-title-size);
    text-align: center;
    color: var(--snow);
    font-weight: 500;
    margin: 0;
    padding: 0;
}

/* ====== HEADER DONE ====== */

tracker-modal {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

html,
body,
main {
    height: 100%;
    flex-direction: column;
    display: flex;
}

:root {
    --image-container-background-color: black;
    --container-background-color-start: rgb(49 49 52);
    --container-background-color-end: rgb(28 28 30);
    --button-background-color: rgb(91 90 95);
    --header-text-color: white;
}
